// ==========================================================================
// Section Styles
// ==========================================================================

.container-narrow > hr {
    margin: 30px 0;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    max-height: 80%;
    padding: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

    .h1, h1 {
        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
    }

    @media (min-width: 475px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}

/* Scores */
.marketing {
    max-width: 600px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

    #aiScore, #userScore {
        color: $color-light;
        padding: 25px;
        border-radius: 6px;
    }

    #aiScore {
        background-color: $color-X;
    }

    #userScore {
        background-color: $color-O;
    }

    p + h4 {
	    margin-top: 8px;
	}
}

@media (min-width: 768px) {
    /* Customize container */
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }
  
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


//Game board
.board {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    padding: 0 1em 0 1em;

    &.above {
        padding-top: 1em;
    }

    &.below {
        padding-bottom: 1em;
    }
}

.square {
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 2.5em;
        font-family: $font-family--primary;
    }

    @media (min-width: 285px) {
        width: 6em;
        height: 6em;
    }

    @media (min-width: 345px) {
        width: 7em;
        height: 7em;
    }

    @media (min-width: 400px) {
        width: 8em;
        height: 8em;
    }

    @media (min-width: 500px) {
        width: 9em;
        height: 9em;
    }

    @media (min-width: 575px) {
        width: 10em;
        height: 10em;
    }

    &.left, &.center {
        border-right: solid 3px $color-primary;
    }

    &.top, &.middle {
        border-bottom: solid 3px $color-primary;
    }
}

//Player Moves
.playerCharacter {
    padding: 14% 22% 10%;
    border-radius: 6px;
    color: $color-light;

        &.player-X {
            background-color: $color-X;
        }

        &.player-O {
            background-color: $color-O;
        }
}

//Sweet Alerts
.sweetAlert {
    background-color: $color-light;

    .sa-icon {

        &.sa-info {
            border-color: $color-X;

            &::before, &::after {
                background-color: $color-X;
            }
        }

        &.sa-warning {
            border-color: $color-O;

            &::before, &::after {
                background-color: $color-O;
            }

            .sa-body, .sa-dot {
                background-color: $color-O;
            }
        }

        &.sa-success {
            border-color: $color-success;

            &::before, &::after {
                background-color: $color-light;
            }

            .sa-line {
                background-color: $color-success;
            }

            .sa-placeholder {
                border-color: $color-success;
            }

            .sa-fix {
                background-color: $color-light;
            }
        }

        &.sa-error {
            border-color: $color-error;

            &::before, &::after {
                background-color: $color-light;
            }
        }
    }
    
    button.cancel {
        background-color: $color-O;

        &:hover {
            background-color: #9059C6;
        }
    }

    h2 {
        color: $color-O;
    }
}












